<h1> Welcome, <%= @name.name %> and <%= @name2.name %>! </h1>
<h3> Hit Points </h3>
<table>
    <tr>
      <td> <%= @name.name %>: <%= @name.hit_points %> HP</td>
      <td> <%= @name2.name %>: <%= @name2.hit_points %> HP </td>
    </tr>
</table>

<form method="get" action="/attack">
  <input type="submit" value="Attack!!"> </input>
</form>
